[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pywin32 = "*"
pillow = "*"
opencv-python = "*"
keyboard = "*"
playsound = "*"
pyttsx3 = "*"

[dev-packages]
colorama = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
